.navbar-custom {
    height: 50px;
    background-color: #007179 !important;
  }

.nav-link-custom:hover{
    color: #F7941D !important;
    transition-property: all !important;
    transition-duration: 0.2s !important;
}

.btn-custom{
    background-color: #F7941D !important;
}
.btn-custom:hover{
    background-color: white !important;
    color : #F7941D !important;
    transition-property: all;
    transition-duration: 0.2s;
}