/*
Photo de fond en css
    - on utilise "background-image" -> permet de définir une image en fond
    - on utilise "background-repeat" -> permet de définir la façon dont l'image va se répéter
    - on utilise "background-position" -> permet de donner la position de l'image de fond par rapport au coin haut gauche
*/

h1{
    position: revert;
    color: #008;
}

header{
    height: 100px;
    background-color: #F7941D;
}

div.navbar{
    height: 25px;
    background-color: #009;
}

main{
    height: 00px;
    background-color:rgb(34, 56, 40) ;
}

footer{
    background: #E5801C;
    width: 1409px;
    position: absolute;
    bottom:0;

    padding: 2rem 0 1rem 0;
    height:110px;
}
footer.div{
    position: absolute;
    right: 0;
}


main.section {
    font-size: 200px;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

section {
    width: 1345px;
    height : 500px;
    padding-left: 50px;
    background-image: url(images/biblio.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}



