/*
Photo de fond en css
    - on utilise "background-image" -> permet de définir une image en fond
    - on utilise "background-repeat" -> permet de définir la façon dont l'image va se répéter
    - on utilise "background-position" -> permet de donner la position de l'image de fond par rapport au coin haut gauche
*/

*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --gray: #333;
    --graylight: #CECBCB;
    --gray-text: #222;
    --graylight-text: #a6a6a6;
    --white-text: #fff;
    scroll-behavior: smooth;
    font-size: 62.5%;
}


body {
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
    color: #FFF;
    background-color: #f2f2f2;
    width: 100%;
    height: 737px;
    background-image: url("images/biblio.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* MENU */
#menu a {
    font-size: 1.8rem;

}

#menu .sousMenu a {
    color: #007179;
    line-height: 4rem;
    font-size: 1.6rem;
    font-weight: 300;
    transition: all .5s ease-in-out;
}

#menu {
    position: relative;
}
nav.li {

}


.sousMenu {
    width: 18rem;
    background-color: #fff;
    border-radius: .3rem;
    padding: 2.5rem 3rem;
    position: absolute;
    right: 0;
    margin: 0;
    display: none;
}

#menu .sousMenu a:hover {
    color: #E5801C;
    padding-left: .9rem;
}

#menu:hover .sousMenu {
    display: block;
}

#menu i {
    padding-right: .5rem;
    transition: .2s;
}

#menu:hover .fas {
    transform: rotate(-90deg);
    padding-right: 0;
    padding-bottom: .3rem;
    padding-left: .3rem;
}

/* BANNER */

#banner {

    /*TEXTE*/
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

#banner {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .25rem;
}

h1 {
    font-size: 12rem;
    font-weight: 300;
    margin: 0;
}

/* FOOTER */

footer {
    height: 284px;
    width: 1425px;
    padding-top: 100px;
    left: 0;
    padding: 0px 0 0rem 0;
    background-color: #000;
    text-align: center;
    color: #FFF;
}

footer p {
    padding-top: 25px;
}

footer li {
    display: inline-block;
    margin: 0.5rem;
}

footer li a {
    font-size: 2.5rem;
    color: #FFF;
    transition: color .2s;
}

footer a:hover {
    color: #fff;
}


