body {
    background-image: url('../assets/img/background.png');
    background-size: cover;
}

.info-container {
    margin-top: 150px;
    margin-right: 20%;
    margin-left: 20%;
}

.title-container {
    width: auto;
    display: flex;
    justify-content: center;
    color: #007179;
    margin-bottom: 50px;
}

.cover-image {
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
}

.cover-image img {
    width: 65%;
    text-align: center;
}

.book-info {
    display: flex;
}

.book-text-info {
    margin-left: 40px;
}

.book-text-info strong {
    font-size: 20px;
    font-weight: bold;
}

.book-info img {
    border-radius: 10px;
    border: solid 3px #007179;
}

footer {
    text-align: center;
}
